/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-default {
  background-color: #BAD3DC;
  border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}



.img-circle{
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.img-circle-navbar{
  margin-right: 10px;
  width: 80px;
  height: 80px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}



.current_user{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#admin-botton {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;

}

h2 {
    font-family: 'Montserrat', sans-serif;

}

h3 {
    font-family: 'Proxima Nova', sans-serif;

}
.actions {
  margin: 8px 0px;
}

body {
  background: #E9E9E9;
}


.button_bar {
  padding-top: 8px;
}

// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.left-panel{
  padding:30px;
  text-align:center;

}
.img{
  width: 100px;
  height: 100px;
}

.header h1 {
    font-size: 50px;
}

.newform {
  padding-down:8px;
}

#join-box {
    margin: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    font-size: 20px;
}

#join-button {
  padding: 0px;
  background-color: #F5F5F5;
}

#join-button a {
    color: #333;
}

.link-to-text-color{
  color:white;
  font-size:60px;
  font-style: oblique;
}
.group-text{
  color:white;
  font-size:60px;
  font-style: oblique;
}
.panel-body-join{
  background: #333;
  font-size: 40px;
  padding: 10px 2px;
    h1 {
      margin: 0 0 20px 0;
    }
    }




/* Change color on hover */
#join-button a:hover {
    background-color: #333;
    color: #f5f5f5;
}


#new-group {

  padding: 10px;
  .panel-heading {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
  }

  h2 {
      text-align: center;
  }

}

.panel-body {
  background: white;
  padding: 10px;



  h2 {
      text-align: center;
  }

}


#new-group {

  .panel-heading {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
  }

}

#posts_index {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 5px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    img {

    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .substext{
      margin:15px;
    }


  }
}

.panel-heading {
    padding: 0px;
    img{
      padding: 0px;
      width: 100%;
    }
  }

#create-post {
  padding: 50px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

input[type=submit] {
    margin-right: 10px;
}

input[type=file] {
    display: block;
    font-size: 10px;
}

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.join-group{
  text-align: center;
}



.nav p {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}





#post_index {
  color: black;
}


#groups{
  .img-circle{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-style: solid;
  }
}
.panel-heading {
    padding: 0px;
    img{
      padding: 0px;
      width: 100%;
    }
  }

#edit_page {
  .current_image{
    img {
    margin: 0 auto;
    width: 70%;
    display: block;
    }
  }
}

#new-group {
  .panel-heading {
      padding: 0px;
  }
}

.avatar {
  padding:40px 20px;
  text-align: center;

  img{
    width: 200px;
    height: 200px;
  }
}



.container{
  padding: 20px 0 20px 0;
}

ul.nav {
  padding-left: 0;
  margin:5px;
  list-style: none;
  text-align: center;
}

p #user_description {
  padding: 20px;
}


.nav>li {
  position: relative;
  display: inline-block;

}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h2 {
    font-size: 50px;
    padding-top: 20px;
}

.user_name {
  display:inline;
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#user_follow {
  background-color: #fff;
}


#post_show {
  .panel-body {
    padding: 30px 2px;
    h1 {
      margin: 0 0 20px 0;
    }
  }
  .panel-footer {
    padding: 30px 15px;
    p {
      margin: 0;
    }
  }
}

#edit_page {
  .current_image{
    img {
    margin: 0 auto;
    width: 70%;
    display: block;
    }
  }
}
.panel-title {
  background-color: #327c968f;
}
.panel-heading {
    padding: 0px;
    background-color: #bad3dc8f;
    font-size: 20px;
  }

.issue-importance{
  font-size: 12px;
  color: gray;
}